node_modules/
dist/
.env
.features-gen/
playwright-report/
feature-report/
allure-results/
allure-report/
test-results/
junit.xml
summary.json
blob-report/
all-blob-reports/
playwright/.cache/
*.log
.DS_Store
Thumbs.db
test-results/**/*.png
test-results/**/*.webm
test-results/**/*.zip
